AI Invasion Day 4

In [95]:
#Importing Libraries
import pandas as pd
import numpy as np

import seaborn
import matplotlib.pyplot as plt
import sklearn

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [96]:
#Importing dataset
tips = pd.read_csv('tips.csv')

tips.head()

   total_bill     tip  gender smoker   day    time  size
0     2125.50  360.79    Male     No  Thur   Lunch     1
1     2727.18  259.42  Female     No   Sun  Dinner     5
2     1066.02  274.68  Female    Yes  Thur  Dinner     4
3     3493.45  337.90  Female     No   Sun  Dinner     1
4     3470.56  567.89    Male    Yes   Sun   Lunch     6

In [97]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  744 non-null    float64
 1   tip         744 non-null    float64
 2   gender      744 non-null    object
 3   smoker      744 non-null    object
 4   day         744 non-null    object
 5   time        744 non-null    object
 6   size        744 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 40.8+ KB

In [109]:
tips.shape

(744, 7)

In [98]:
tips.describe()

        total_bill          tip        size
count   744.000000   744.000000  744.000000
mean   2165.006640   325.948091    3.180108
std     954.248806   148.778225    1.532890
min      44.690000     0.000000    1.000000
25%    1499.022500   218.000000    2.000000
50%    2102.610000   320.460000    3.000000
75%    2743.802500   415.562500    4.000000
max    5538.290000  1090.000000    6.000000

In [99]:
tips.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size'], dtype='object')

In [100]:
tips.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [101]:
cat_features = ['gender', 'smoker', 'day', 'time']

for cat_feature in cat_features:
    tips[f'{cat_feature}_cat'] = tips[cat_feature].astype('category')
    tips[f'{cat_feature}_cat'] = tips[f'{cat_feature}_cat'].cat.codes

In [102]:
tips.drop(cat_features, axis = 1, inplace=True)
tips.head()

   total_bill     tip  size  gender_cat  smoker_cat  day_cat  time_cat
0     2125.50  360.79     1           1           0        4         1
1     2727.18  259.42     5           0           0        3         0
2     1066.02  274.68     4           0           1        4         0
3     3493.45  337.90     1           0           0        3         0
4     3470.56  567.89     6           1           1        3         1

In [111]:
tips.drop_duplicates(subset='total_bill')
tips.shape

(744, 7)

In [103]:
y = tips['tip'] #Target
X = tips.drop('tip', axis=1)

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.3)
y.head()
X_test.head()
X_train.head()

     total_bill  size  gender_cat  smoker_cat  day_cat  time_cat
571     1860.63     3           0           0        2         0
662     1766.89     3           0           0        3         0
372     1480.22     2           0           1        2         1
491     2709.74     6           0           1        1         0
442     1698.22     5           1           0        6         0

In [104]:
from sklearn.linear_model import LinearRegression

LinReg = LinearRegression()
LinReg.fit(X_train, y_train)
y_pred = LinReg.predict(X_test)

In [105]:
from sklearn.metrics import mean_absolute_error

print('MAE', mean_absolute_error(y_test, y_pred))

MAE 109.03444020112737

In [106]:
from xgboost import XGBRegressor

xgb = XGBRegressor()
xgb.fit(X_train, y_train)
xgb_y = xgb.predict(X_test)

In [107]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

print('MAE', mean_absolute_error(y_test, xgb_y))
print('MSE', mean_squared_error(y_test, xgb_y))
print('RMSE', r2_score(y_test, xgb_y))

MAE 135.06031668799264
MSE 28198.65167089852
RMSE -0.38939233467331924