AI Invasion Day 3

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn
import sklearn

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_excel("./AI_Invasion_In-Class_Dataset.xlsx")

df.head()

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,Abuja,Mercedes-Benz,GLA 250,2015.0,Brown,14.50,Foreign Used,50000.0
1,Abuja,Hyundai,Accent,2013.0,Red,1.55,Nigerian Used,NaN
2,Lagos,Lexus,GX 460 Premium,2011.0,White,14.00,Foreign Used,85000.0
3,Lagos,Lexus,ES 350,2011.0,Gray,4.95,Foreign Used,NaN
4,Ibadan,Toyota,Verso 1.6,2009.0,Silver,1.69,Nigerian Used,118906.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   object
 1   Maker               4487 non-null   object
 2   Model               4487 non-null   object
 3   Year                4487 non-null   float64
 4   Colour              4487 non-null   object
 5   Amount (Million ₦)  4487 non-null   float64
 6   Type                4487 non-null   object
 7   Distance_Km         2932 non-null   float64
dtypes: float64(3), object(5)
memory usage: 280.6+ KB

In [5]:
df.describe()

              Year  Amount (Million ₦)   Distance_Km
count  4487.000000         4487.000000  2.932000e+03
mean   2011.095610           11.309795  1.010383e+05
std       4.823362           20.585915  1.150914e+05
min    1982.000000            0.420000  1.000000e+00
25%    2008.000000            3.600000  5.237850e+04
50%    2011.000000            5.700000  7.900000e+04
75%    2014.000000           12.000000  1.099392e+05
max    2022.000000          454.000000  1.785448e+06

In [17]:
mean_value = df['Distance_Km'].mean()
print(mean_value)

df['Distance_Km'].fillna(mean_value, inplace=True)
df.info()

101038.32128239772
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                4487 non-null   float64
 1   Amount (Million ₦)  4487 non-null   float64
 2   Distance_Km         4487 non-null   float64
 3   Location_cat        4487 non-null   int8
 4   Maker_cat           4487 non-null   int8
 5   Colour_cat          4487 non-null   int8
 6   Type_cat            4487 non-null   int8
dtypes: float64(3), int8(4)
memory usage: 122.8 KB

In [7]:
df['Model'].value_counts()

Camry              437
Corolla            202
ES 350             188
C300               133
Accord             104
                  ...
Ranger XL            1
MDX Base FWD         1
Odyssey 2.4 2WD      1
Traverse 1LT         1
Outback              1
Name: Model, Length: 897, dtype: int64

In [8]:
df.drop('Model', axis =1, inplace=True)

In [9]:
cat_features = ['Location', 'Maker', 'Colour', 'Type']

for cat_feature in cat_features:
    df[f'{cat_feature}_cat'] = df[cat_feature].astype('category')
    df[f'{cat_feature}_cat'] = df[f'{cat_feature}_cat'].cat.codes

df.head()

,Location,Maker,Year,Colour,Amount (Million ₦),Type,Distance_Km,Location_cat,Maker_cat,Colour_cat,Type_cat
0,Abuja,Mercedes-Benz,2015.0,Brown,14.50,Foreign Used,50000.000000,0,26,3,1
1,Abuja,Hyundai,2013.0,Red,1.55,Nigerian Used,101038.321282,0,14,14,2
2,Lagos,Lexus,2011.0,White,14.00,Foreign Used,85000.000000,2,23,17,1
3,Lagos,Lexus,2011.0,Gray,4.95,Foreign Used,101038.321282,2,23,6,1
4,Ibadan,Toyota,2009.0,Silver,1.69,Nigerian Used,118906.000000,1,44,15,2

In [10]:
df.drop(cat_features, axis = 1, inplace=True)
df.head()

,Year,Amount (Million ₦),Distance_Km,Location_cat,Maker_cat,Colour_cat,Type_cat
0,2015.0,14.50,50000.000000,0,26,3,1
1,2013.0,1.55,101038.321282,0,14,14,2
2,2011.0,14.00,85000.000000,2,23,17,1
3,2011.0,4.95,101038.321282,2,23,6,1
4,2009.0,1.69,118906.000000,1,44,15,2

In [11]:
y = df["Amount (Million ₦)"] # Target
X = df.drop("Amount (Million ₦)", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

X_train.shape
X_test.shape

(1347, 6)

In [12]:
from sklearn.linear_model import LinearRegression, LogisticRegression

Lin_reg =LinearRegression()
Lin_reg.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = Lin_reg.predict(X_test)

from sklearn.metrics import mean_absolute_error

print('MAE', mean_absolute_error(y_test, y_pred))

MAE 7.413826963622159

In [14]:
from sklearn.tree import DecisionTreeRegressor

dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train, y_train)
dt_y_pred = dt_reg.predict(X_test)

print("MAE",mean_absolute_error(y_test,dt_y_pred))

MAE 4.885937175204157

In [15]:
from sklearn.ensemble import RandomForestRegressor

R_reg = RandomForestRegressor()
R_reg.fit(X_train, y_train)
R_pred = R_reg.predict(X_test)

print("MAE",mean_absolute_error(y_test,R_pred))

MAE 4.1834432142964735